@media (max-width: 1300px) {

   .container {
      max-width: 952px;
   }
   .night-city__title {
      max-width: 620px;
   }
   .night-city__text {
      max-width: 788px;
   }
   .night-city__gallery {
      grid-template-areas: "sub-first sub-second" "main main";
      gap: 2rem;
   }
   .night-city__img:last-child
   {
      width: 952px;
   }
   .stock__header
   {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }
   .stock__body{
      grid-template-areas:
      "stock-header ."
      "stock-header stock-consoles"
      "stock-text stock-consoles"
      "stock-form  stock-consoles"
      "stock-form stock-consoles";
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
   }
   .stock__text
   {
      width: auto;
   }
   .stock__consoles{
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
   }
   .hp {
   }
   .hp__row {
      display: flex;
      gap: 1.5rem;
   }
   .container {
   }
   .hp__images {
      justify-content: center;
      gap: 2rem;

   }
   .hp__monitor {
      max-width: 460px;
   }
   .hp__images-container {
      flex-direction: column;
   }
   .hp__body {
      width: auto;
   }
   .hp__text {
      max-width: 460px;
   }
}
@media (max-height:900px) {
   html{
      font-size: 16px;
   }
}